html {
  font-size: 62.5%;
}
 * {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-size: 1.4rem;
}

h1 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 2.4rem;
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}

html, body, #root, .App, .App-body {
  width: 100%;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.App-body {
  padding-top: 6rem;
}

.App-intro {
  font-size: large;
}

.card {
  max-width: 400px;
  height: 80%;
  padding: 10px;
  margin: 20px auto;
  border: 1px solid black;
}

.card-content {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.WhiteBoard {
  width: 100%;
  height: 100%;
  position: relative;
}

.WhiteBoard-sector {
  width: 50%;
  height: 50%;
  border: 1px solid black;
  box-sizing: border-box;
  float: left;
  position: relative;
}

.WhiteBoard-interface {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
}

.WhiteBoard-interface > button {
  font-size: 20px;
  background-color: white;
  border: 1px solid black;
  margin-left: -30px;
  margin-top: -30px;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: block;
}

.icon {
  display: inline-flex;
  align-self: center;
  position: relative;
  height: 1em;
  width: 1em;
}

.icon svg {
  height: 1em;
  width: 1em;
}

.icon.--svg-baseline svg {
  bottom: -0.125em;
  position: absolute;
}

#modal-root {
  position: relative;
  z-index: 999;
}

.modal {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:180%;
}

.pinBtn {
  display: block;
  background-color: white;
  position: absolute;
}

#pinToDidWell {
  top: 25%;
  left: 25%;
}
#pinToCanDoBetter {
  top: 25%;
  left: 75%;
}
#pinToPuzzledUs {
  top: 75%;
  left: 25%;
}
#pinToTryNext {
  top: 75%;
  left: 75%;
}

.post-it-note {
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:20%;
  width:20%;
  padding:1em;
  -moz-box-shadow:5px 5px 10px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 10px rgba(33,33,33,.7);
  box-shadow: 5px 5px 10px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}

.WhiteBoard .post-it-note {
  -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
  position:absolute;
  z-index:5;
}

.WhiteBoard .post-it-note:nth-child(even) {
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:absolute;
  top:5px;
}
.WhiteBoard .post-it-note:nth-child(3n) {
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:absolute;
  top:-5px;
}
.WhiteBoard .post-it-note:nth-child(5n) {
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:absolute;
  top:-10px;
}

.WhiteBoard .post-it-note:nth-child(2n+2) {
  left: calc((100% * .1) - (150px * .1));
  top:5px;
}

.WhiteBoard .post-it-note:nth-child(3n+3) {
  left: calc((100% * .2) - (150px * .2));
  top:5px;
}

.WhiteBoard .post-it-note:nth-child(4n+4) {
  left: calc((100% * .3) - (150px * .3));
  top:5px;
}

.WhiteBoard .post-it-note:hover {
  transform-origin: 50% 50%;
  -webkit-transform:rotate(0) scale(5) translateX(50%) translateY(10px);
  -o-transform:rotate(0) scale(5);
  -moz-transform:rotate(0) scale(5);
  z-index: 10;
}